

extends layout

block variables

block content

 style.

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

     h1, h2, h3, h4, p , a, button{
    
    font-family: 'Nunito', sans-serif; }
     
    
    
     #content{padding-bottom:200px;}


    #map{
    height:300px;
    }





 script(src="https://maps.googleapis.com/maps/api/js?key=" + keyapi + "&libraries=places&callback=initMap" async defer)
 script.
    

    let map;
    var lat =  parseFloat('#{company.latitud}');
    var long = parseFloat('#{company.longitud}');
 
   function initMap() {
     map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: lat,  lng: long },
    zoom: 18,

    });
  
    var marker =    new google.maps.Marker({
      position: {lat: lat , lng: long  },
      map,
     title: "Hello World!",
     });

      }








 



   
    $(document).ready(()=>{
    
    var creator ;
    var email ;

    var id = '#{company._id}'
    var owner = '#{owner}'
      
     console.log(owner);
    ///////////////////////////////////Send data to the server //////////////////////////////
      $.get('/company/profile/json/'+ id , (data,status)=>{

     var name =    data.nombre 
     var industry = data.industria
     var subindustry = data.subindustry  
     var  pais   = data.pais
     var  state =   data.estado
     var  city =    data.ciudad 
     var  calle =  data.calle
     var  numero = data.numero
     var  telefono = data.telefono
     var  website = data.web
     var  description = data.description
     var  badges = data.certificados
     var  moreinfo  =data.masinformacion
    
     var  codigopostal  = data.codigopostal

     var  street = data.calle + " " + "#" + " " + data.numero
     var  address = city + "," + " " + state 
     var Array = data.productos;


       
        $('#title').text(name) 
        $('#addressw').text(address)
        $('#addressx').text(street)
        $('#industry').text(industry)
        $('#country').text(pais)
        $('#phone').text(telefono)
        $('#description').text(description)
        $('#web').text(website)
        $('#moreinfo').text(moreinfo)
        $("#zip").text(codigopostal)

       ///////////////////////////////////////Poblar la lista de productos
        for(i=0;i<Array.length;i++){
         
        $("#productlist").append('<tr><td>' + Array[i].producto + '</td><td>'+  Array[i].descripcion +'</td></tr>');

                       }

        /////////////////////////////////////////////Poblar certificados
           badges.forEach(b=>{
             
             var row = '<tr> <td> ' + b + '</td></tr>'
               
               $("#badges").append(row);

            })             

    
          });

              

        /////////////////////////////////////////////////////Post ///////////////////////
            
              $("#updates").submit((event)=>{
                    event.preventDefault();

                    var update = $("#post").val();
                    console.log(update);


               $.post('/update/company/new',{update:update,id:id});     

             })

           //////////////////////////////////////////////Mandar E-MAIL////////////////////////////

        $("#email").click(()=>{

           
         $('.fullscreen.modal').modal('show')
          



        })
  
          
   

    })     


    
 div.ui.doubling.stackable.container
  div.ui.segment
   div.ui.three.column.doubing.stackable.grid
  
    div.column
       
       
       h2#title.textcenter 
       h3.textcenter  #{company.pais}  
       h3.textcenter Direcci贸n 
       p.textcenter#addressx
       p.textcenter#addressw 
       h3.textcenter C贸digo Postal
       p.textcenter#zip
       h3.textcenter Tel茅fono  
       p.textcenter#phone
       
    div.column 
       
      h3.textcenter Sitio web 
      p.textcenter#web  
    div.column
     div#map

  div.ui.container
  
  div.ui.segment 
 
    h2.textcenter Industria Principal  
    p.textcenter#industry
    h2.textcenter Descripci贸n 
    p.textcenter#description
  div.ui.segment
    a(href="/messages/send/to/" + company._id  class="button ui button blue") Mensaje 
    button.ui.button.green#email Correo Electr贸nico 

 
 

  div.ui.stackable.top.attached.tabular.menu
     a.item.active(data-tab="first") Productos 
      a.item(data-tab="second") M谩s Informaci贸n  
     a.item(data-tab="third") Actualizaciones 
     a.item(data-tab="fourth") Anuncios 
    

  div.ui.bottom.attached.tab.segment.active(data-tab="first")
   div.ui.segment
     h2.textcenter Productos 
     table.ui.celled.table
      thead
       tr
        th Nombre  
        th Descripci贸n
      tbody#productlist        
 


  div.ui.bottom.attached.tab.segment(data-tab="second")
    div.ui.segment

     h2.textcenter M谩s informaci贸n
     div.ui.text.container
      p.textcenter#moreinfo
      div.ui.text.container
      div.field   
       h2.textcenter Certificaciones 
       table.ui.celled.table#badges 
        tbody
         tr  
  div.ui.bottom.attached.tab.segment(data-tab="third")

   h2.textcenter Actualizaciones
    if owner
      div.ui.segment  
        form.ui.form(id="updates") 
         textarea(type="text" name="post" id="post" )
         br    
         br
         button.fluid.ui.button.green(type="submit") Guardar


 
 
  div.ui.bottom.attached.tab.segment(data-tab="fourth")
    div.ui.segment
     h2.textcenter Anuncios
     if owner
      form.ui.form(id="updates" method="post")

       button.fluid.ui.button.green(type="submit") Publicar 


  

  div.ui.fullscreen.modal 
   div.header Env铆a un Correo
   div.ui.content
    form.ui.form
     textarea(type="text" name="email" id="email" )
     br
     br
     button.ui.button.green(type="submit") Enviar 
